
    <div class="container p-5">
      <div class="row">
          <div class="col-md">
              <div class="searchDiv">
                  <input class="inputSearch" id="myInput"  ngClass="{'active': toggle}" type=" text " placeholder="search ">
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md">
              <table class="table text-center myTable bg-white">
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <!-- <th scope="col">userId</th> -->
                      <th scope="col">UserName</th>
                      <th scope="col">Date</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Product Name</th>
                      <th>Status</th>
                      <!-- <th scope="col">View Product</th> -->
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let order of orders;  let i = index" >
                        <th scope="row">{{i+1}}</th>
                        <!-- <td>{{order.userId}}</td> -->
                        <td>{{order.userName}}</td>
                        <td>{{order.date}}</td>
                        <td>{{order.totalPrice}}</td>
                        <td>{{order.productName}}</td>
                        <td>{{order.status.toUpperCase()}}</td>
                        <!-- <td><button (click)=sendid(order.userId) type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Launch demo modal
                        </button></td> -->
                        <!-- <td><i class="fas fa-trash-alt myTrash"></i></td>  -->
                        <td >
                          <button #a  (click)="change(order._Id,a.value)" value="accept"  class="btn btn-success mr-1">Accept</button>
                          <button #d (click)="change(order._id,d.value)" value="rejected" class="btn btn-danger">rejected</button>
                      </td>
                      </tr>

                    </tbody>

                  <!-- <div *ngFor="let order of orders" class="" >
                      <order [orderDetails]=order></order>
                    </div> -->

                </table>
          </div>


      </div>
  </div>

