
    <div class="container p-5">
        <div class="row">
            <div class="col-md">
                <div class="searchDiv">
                    <input class="inputSearch" id="myInput"  ngClass="{'active': toggle}" type=" text " placeholder="search ">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <table class="table text-center myTable bg-white">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <!-- <th scope="col">userId</th> -->
                        <th scope="col">UserName</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Product Name</th>
                        <th>Status</th>
                        <!-- <th scope="col">View Product</th> -->
                        <th scope="col"></th>
                      </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let order of orders;  let i = index" >
                          <th scope="row">{{i+1}}</th>
                          <!-- <td>{{order.userId}}</td> -->
                          <td>{{order.userName}}</td>
                          <td>{{order.date}}</td>
                          <td>{{order.totalPrice}}</td>
                          <td>{{order.productName}}</td>
                          <td>{{order.status.toUpperCase()}}</td>
                          <!-- <td><button (click)=sendid(order.userId) type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Launch demo modal
                          </button></td> -->
                          <!-- <td><i class="fas fa-trash-alt myTrash"></i></td>  -->
                          <td >
                            <button #a  (click)="change(order.userId,a,d,a.value)" value="accept"  class="btn btn-success mr-1">Accept</button>
                            <button #d (click)="change(order.userId,a,d,d.value)" value="delete" class="btn btn-danger">Delete</button>
                        </td> 
                        </tr>
                       
                      </tbody>

                    <!-- <div *ngFor="let order of orders" class="" >
                        <order [orderDetails]=order></order>
                      </div> -->
                   
                  </table>
            </div>


        </div>
    </div>

    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{data}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

    