
<div class="card mb-2 bg-white" style="width: 18rem; position: relative;">
  <a>
    <img [src]="product.image" class="card-img-top" style="float:left;" alt="...">
  </a>
  <div class="card-body p-1">
    <h3 class="card-text text-left">{{product.title}}</h3>
    <h6 class="text-left">size:{{product.size}}</h6>
    <h6 class="text-left">{{product.price}}$</h6>
  </div>
  <div class="delClass" (click)="deleteProduct()">
    <a href="#">
      <i class="fa fa-trash-o text-secondary delItemHeart" aria-hidden="true"></i>
    </a>
  </div>

  <div class="editComp" (click)="updateProduct()">
    <a href="#" style="color: white;" >
      <i class="fa fa-pencil mt-2" aria-hidden="true"></i>
    </a>
  </div>
</div>
