.favClass{
width: 40px;
height: 40px;
position: absolute;
right: 10px;
top: 15px;
}

.favItemHeart:hover{
  color: black;
}

.addToCart{
  background-color: #ff5722;
  color: white;
  border-radius: 50%;
  width: 13%;
  height: 10%;
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 80px;
}

.addToCart:hover{
  transform: translateY(30%);
  background-color: blueviolet;
  color: white;
}


