<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h3 class="text-center p-3 myfont">Order History</h3>
        <table class="table text-center myTable bg-white">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Order Id</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders;  let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{order._id}}</td>
              <td>{{order.productName}}</td>
              <td>{{order.price}}</td>
              <td>{{order.status.toUpperCase()}}</td>

              <td *ngif="order.status==pending" (click)="delete(order._id)"><i class="fas fa-trash"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
