.navItem{
  color: white !important;
  margin-left: 15px;
}

.navItem:hover{
  background-color: rgb(4, 4, 117);
}

.promImgClass{
  object-fit: cover;
  max-height: 400px !important;
  float: left;
  margin: 30px;
  margin-left: 50px;
  padding: 3px;
  box-shadow: rgba(255, 255, 255, 0.5);
}

.fixedPromotion{
  margin-top: 30px;
}

.fixedProImg{
  max-height: 180px !important;
}

.marginLeft{
  margin-left: 490px  !important;
}

.navBgColor{
  background-color: rgb(5, 5, 177) !important;
}
